<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <add key="SERVER_NAME" value="tcp:logger-server.database.windows.net,1433"/>
    <add key="DATABASE" value="logger-db"/>
    <add key="USER_ID" value="vvilelaj"/>
    <add key="PASSWORD" value="P2ssw0rd"/>
  </appSettings>
</configuration>